<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>
    <style>
        .red {
            color:red;
        }
        .font-bold {
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{people[0].name}} : {{people[0].age}}<br>
        {{people[1].name}} : {{people[1].age}}<br>
        {{people[2].name}} : {{people[2].age}}<br>
        <hr>
        <div v-for="person in people">
            {{person.name}} : {{person.age}}<br>
        </div>
        <hr>
        <div v-for="(person,index) in people" :key="person.id">
            {{person.name}} : {{person.age}}, index:{{index}}<br>
        </div>
    </div>
   
        
    <script>
        new Vue({
            el:'#app',
            data:{
                people:[
                {id:123,name:'a',age:24},
                {id:1234,name:'b',age:23},
                {id:12345,name:'c',age:22},
                ]
            },
            methods:{
               
            },

        })
    </script>
</body>
</html>